.mat-paginator-page-size {
  height: 100%;
}
.mat-paginator-container {
  height: 30px;
}
.app-paginator .mat-icon-button {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-color: var(--systemGray1);
  color: var(--systemGray2);
}
