<div class="container py-5">
  <div *ngIf="isLoading; else userProfile">
    <div class="d-flex justify-content-start align-items-start" style="height: 100vh;">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>


  <ng-template #userProfile>
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <a class="btn btn-light mb-3"   (click)="reset()">← Back to users</a>

        <div class="card mb-3 fade-in">
          <div class="d-flex justify-content-center align-items-center mt-3">
            <img [src]="user?.avatar" class="img-fluid" alt="User Avatar">
          </div>

          <div class="row mt-5">
            <div class="col-md-8">
              <div class="d-flex flex-row gap-3 ps-md-5 align-items-center">
                <img class="icon-img" src="assets/icons/id.png">
                <div class="d-flex flex-column gap-2">
                  <p class="m-0">ID</p>
                  <p class="m-0">{{ user?.id }}</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3 mt-md-0">
              <div class="d-flex flex-row gap-3 align-items-center">
                <img class="icon-img" src="assets/icons/email.png">
                <div class="d-flex flex-column gap-2">
                  <p class="m-0">Email</p>
                  <p class="m-0">{{ user?.email }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-md-5">
            <div class="col-md-8">
              <div class="d-flex flex-row gap-3 ps-md-5 align-items-center">
                <img class="icon-img" src="assets/icons/name.png">
                <div class="d-flex flex-column gap-2">
                  <p class="m-0">First Name</p>
                  <p class="m-0">{{ user?.first_name }}</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 mt-3 mt-md-0">
              <div class="d-flex flex-row gap-3 align-items-center">
                <img class="icon-img" src="assets/icons/name.png">
                <div class="d-flex flex-column gap-2">
                  <p class="m-0">Last Name</p>
                  <p class="m-0">{{ user?.last_name }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
